<header>

    <nav class="container">

        <div class="logo">
            <a href="/anime" class="home">
                <h3>AnimeLub</h3>
            </a>
            <div><a href="./genres.html" class="genres nav-links">Жанры</a></div>
            <div><a href="/anime-random" class="random nav-links">Рандомное аниме</a></div>
        </div>

        <div class="menu">
            <div><a href="./profile.html" class="profile nav-links">Профиль</a></div>
        </div>

    </nav>

</header>