.container a {
	text-decoration: none; 
	color: white;
}
body {
	margin: 0;
	background-color: #EBEBEB;
	font-family: sans-serif;
}

.home {
	color: #fff;
}

.container {
	width: 80%;
	margin: 0px auto;
}

header {
	background: #0a6379;
	color: white;
	
}

.logo {
	display: flex;
	align-items: center;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
}

.nav-links:hover {
	color: lightgrey;
	
}



.logo div {
	margin-left: 45px;
}   

.INFO {
	margin: 30px 80px;
	background-color: #ffffff;
}

.content {
	display: flex;
}

.info {
	margin-left: 20px;
}

.Name {
	font-size: 40px;
}

.main-info {
	text-decoration: none;
	display: flex;
	color: black;
	margin-left: 20px;
	line-height: 25px;
	font-family: sans-serif;
}

.all-info {
	width: 1020px;
}

img {
	height: 350px;
	width: 250px;
	margin-top: 15px;
	
}

.other-name {
	font-size: smaller;
}

.information2 {
	width: auto;
}

.information {
	width: 270px;
}

.main-info a {
	color:red;
	text-decoration: none;
}


.history {
	margin-left: 30px;
	color: #212529;
	font-size: 1rem;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.choise {
	margin-left: 15px;
}

.option {
	text-align: center;
	border: 2px solid lightgray;
	padding: 0px 20px;
}

.choice-btn {
	padding: 8px 12px;
	border-radius: 5px;
	background-color: rgb(227, 227, 227);
	text-decoration: none;
}

.add-to {
	display: none;
}

.add-to a {
	text-decoration: none;
	color: black;
	display: grid;
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
	background-color: lightgray;
}

.add-to a:hover {
	text-decoration: underline;
}

.add-to-list:hover {
	cursor: pointer;
}

.watch {
	background: rgb(203, 87, 87);
	
}

.watch a {
	color: #fff;
	text-decoration: none;
}

.write a {
	text-decoration: none;
	color: black;
}

.line {
	margin-left: 20px;
	border-bottom: 1px solid lightgray;
}

.WATCH {
	background-color: #232323;
	margin-bottom: 30px;
	display: flex;
	height: 700px;

}

.hav {
	margin: 0 auto;
}

.background {
	margin: 0 auto;
}

.voice-acting {
	display: flex;
	background-color: #5f5f5f;
	width: 250px;
	text-align: center;
	margin: auto 0;
	color: #fff;
}
.voice-acting p {
	width: 125px;
}

video {
 	background-color: #EBEBEB;
	width: 1050px;
	
}

.Prosmotr {
	margin: 0 0 auto 100px;
	margin-top: 40px;
}

.comments {
	width: 90%;
	height: 60px;
	align-items: center;
	background-color: #fff;
	font-size: 1.2rem;
	margin: 20px auto;
	margin-top: 30px;
	display: flex;
	padding-left: 1%;
	border-radius: 5px;
}

.active-btn:active {
	color: #EBEBEB;
	cursor: pointer;
}

.active-btn:hover {
	cursor: pointer;
}

.background {
	height: 645px;
	margin-top: 40px;
	background-color: #333333;
}

.slider {
	margin-left: 700px;
	background-color: #5f5f5f;
}

.slider-line {
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	
}

.slider-line p {
	text-decoration: none;
	color: #EBEBEB;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
}

.ban {
	display: flex;
	justify-content: flex-end;
}
 

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}