a {
    text-decoration: none; 
}
   
footer{
	margin-top: 100px;
	margin-left: 10%;
}

body{
	margin: 0;
	background-color: #EBEBEB;
}

.home{
	color: #fff;
}

.container{
	width: 90%;
	margin: auto;
}

.Name-Space {
	margin: 10PX auto;
	width: 212px;
}

header {
	background: #0a6379;
	color: white;
}

a {
	color: white;
}


.logo{
	display: flex;
	align-items: center;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
}

.nav-links:hover {
	color: lightgrey;
}

#menu {
	display: flex;
}

.logo div {
	margin-left: 45px;
}

.poster{
	background-color: #DCDCDC;
}

.poster_second{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	color: black;
	background-color: white;
	width: 80%;
	margin-left: 5%;
	margin-top: 30px;
	padding: 30px;
}

.poster_img {
	width: 212px;
	height: 297px;
}

.poster_block {
	text-align: center;
}

.poster_block p{
	color: #000;
	text-align: left;
}

.poster_block a:hover p{
	text-decoration: underline;
}

.search {
	width: 60%;
	height: 60px;
	align-items: center;
	background-color: #fff;
	font-size: 1.4rem;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 30px;
	display: flex;
	padding-left: 1%;
	border-radius: 5px;
}

.search p {
	margin: 0;
}

.eng{
	font-size:small;
}

.GANRES a {
	
	text-decoration: none;
	color: black;
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
	background-color: lightgray;
}

.choice-btn {
	padding: 8px 12px;
	border-radius: 5px;
	background-color: rgb(227, 227, 227);
	text-decoration: none;
}


.add-to a {
	text-decoration: none;
	color: black;
	display: grid;
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
	background-color: lightgray;
}

.add-to a:hover {
	text-decoration: underline;
}

.add-to-list:hover {
	cursor: pointer;
}

.GANRES a:hover {
	text-decoration: underline;
}

.GANRES {
	margin-top: 10px;
	display: flex;
}